body {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: #fefcff;
}
/* user input boxes */
textarea {
    background: transparent;
    border-top: none;
    border-color: #99939e;
    resize: none;
    color: #322c36;
    padding: 10px;
    position: relative;
    flex: 1 1 auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    width: 1%;
    margin-bottom: 0;
}
textarea:focus {
    border-color: #7b7580;
    outline-color: #7b7580;
}
.eight-border {
    border-top: thin solid;
    border-color: #99939e;
}
/* jumbotron */
.jumbotron {
    background-image: url(../assets/images/background.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    background-color: #ece4f2;
    color: #322c36;
    border-radius: 0;
    border-bottom: 3px solid #7b7580;
    padding: 25px 40px;
}
/* color by hour styling */
.past {
    background-color: #ece4f2;
    color: #322c36;
}
.present {
    background-color: #dbcfe3;
    color: #322c36;
}
.future {
    background-color: #cabcd4;
    color: #322c36;
}
/* hour labels */
.input-group-text {
    width: 70px;
    background-color: transparent;
}
#eight {
    border-radius: 0;
    border-left: none;
}
#nine,
#ten,
#eleven,
#twelve,
#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eightp,
#ninep,
#tenp {
    border-radius: 0;
    border-left: none;
    border-top: none;
}
/* buttons */
.add {
    background-image: url(../assets/images/plus-circle-thin-32.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px 15px;
}
#button-eight-am:hover,
#button-nine-am:hover,
#button-ten-am:hover,
#button-eleven-am:hover,
#button-twelve-pm:hover,
#button-one-pm:hover,
#button-two-pm:hover,
#button-three-pm:hover,
#button-four-pm:hover,
#button-five-pm:hover,
#button-six-pm:hover,
#button-seven-pm:hover,
#button-eight-pm:hover,
#button-nine-pm:hover,
#button-ten-pm:hover {
    background-image: url(../assets/images/plus-circle-thin-32-lilac.png);
    background-color: white;
    border-color: white;
    outline-color: white;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px 15px;
}
#button-eight-am,
#button-nine-am,
#button-ten-am,
#button-eleven-am,
#button-twelve-pm,
#button-one-pm,
#button-two-pm,
#button-three-pm,
#button-four-pm,
#button-five-pm,
#button-six-pm,
#button-seven-pm,
#button-eight-pm,
#button-nine-pm,
#button-ten-pm {
    border: none;
}
.clear {
    text-align: center;
    color: #322c36;
}
.clear-btn {
    padding-bottom: 5%;
}
/* unvisited link */
.clear-btn:link {
    color: #322c36;
}

/* visited link */
.clear-btn:visited {
    color: #322c36;
}

/* mouse over link */
.clear-btn:hover {
    color: #8f809c;
}

/* selected link */
.clear-btn:active {
    color: #8f809c;
}
